html{
    background: rgb(41, 80, 119);
}
.patrick{
    display: block;
    margin: auto;
    width: auto;
    height: 700px;
    
}
.text{
    color: white;
    text-align: center;
}
.options{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
}
.btn{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(20, 19, 73);
    width: 110px;
    height: auto;
    padding: 15px 32px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}